.slide {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.slide p {
    font-size: 36px;
}

.slide h1 {
    font-size: 48px;
}

.slide .img {
    position: absolute;
    width: 210px;
    border: 2px solid white;
    border-radius: 100%;
}


@media (max-width: 1199px) {
    .slide .img {
        width: 150px;
        height: 150px;
    }

    .slide-img1 {
        left: 50px;
    }

    .slide-img2 {
        right: 50px;
    }

    .slide-img3 {
        left: 50px;
    }

    .slide-img4 {
        right: 50px;
    }
}

@media (max-width: 550px) {
    .slide .img {
        width: 120px;
        height: 120px;
    }

    .slide-img1 {
        top: 25px;
        left: 25px;
    }

    .slide-img2 {
        top: 25px;
        right: 25px;
    }

    .slide-img3 {
        bottom: 25px;
        left: 25px;
    }

    .slide-img4 {
        bottom: 25px;
        right: 25px;
    }

    .slide p {
        font-size: 24px;
    }

    .slide h1 {
        font-size: 36px;
    }
}