html {
  height: 100%;
}

body {
  min-height: 100%;
}

.App {
  min-height: 100vh;
  position: absolute;
  width: 100%;
}

main {
  padding-bottom: 250px;
}

.main-row {
  min-height: 80vh;
  width: 100%;
  margin: 0!important;
  padding: 0!important;
}

.main-row .main-col {
  margin: 0!important;
  padding: 0!important;
}

@media (max-width: 767px) {
  .main-row {
    min-height: 100px;
  }
}

.btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 0;
}

.btn:hover {
  color: orangered!important;
  background-color: black!important;
}

.btn:focus {
  color: white!important;
  background-color: black!important;
}

.container {
  padding: 0!important;
}

p {
  margin: 0;
}